<table class="list">
  <thead><tr>
    <th><input type="checkbox" name="check_all"  class="check_all"></th>
    <th><%=l(:field_name)%></th>
    <th><%=l(:field_field_format)%></th>
    <th><%=l(:field_is_required)%></th>
    <% if tab[:name] == 'IssueCustomField' %>
      <th><%=l(:field_is_for_all)%></th>
      <th><%=l(:label_used_by)%></th>
    <% end %>
    <th><%=l(:button_sort)%></th>
    <th></th>
  </tr></thead>
  <tbody>
  <% (@custom_fields_by_type[tab[:name]] || []).sort.each do |custom_field| -%>
    <% back_url = custom_fields_path(:tab => tab[:name]) %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><input type="checkbox" name="check_delete" value='<%= custom_field.id%>' class="check"></td>
      <td class="name"><%= link_to custom_field.name, edit_custom_field_path(custom_field) %></td>
      <td><%= l(custom_field.format.label) %></td>
      <td><%= checked_image custom_field.is_required? %></td>
      <% if tab[:name] == 'IssueCustomField' %>
      <td><%= checked_image custom_field.is_for_all? %></td>
      <td><%= l(:label_x_projects, :count => custom_field.projects.count) if custom_field.is_a? IssueCustomField and !custom_field.is_for_all? %></td>
      <% end %>
      <td class="reorder"><%#= reorder_links('custom_field', {:action => 'update', :id => custom_field, :back_url => back_url}, :put) %>
        <input type="text" name="position" value="<%= custom_field.position %>" style="width: 60px;" class="cf_<%=custom_field.position %>">
      </td>
      <td class="buttons">
        <%= delete_link custom_field_path(custom_field) %>
        <%= link_to '提交', "javascript:void(0);", class:"tijiao", value:custom_field.position %>
      </td>
    </tr>
  <% end; reset_cycle %>
  </tbody>
</table>
<input type="button" name="" value="批量删除" class="destroy_all">
<script type="text/javascript">
  $(".tijiao").on('click',function (argument) {
      from_position = $(this).attr("value");
      to_position = $('.cf_' + from_position).val();
      $.ajax({
        type: 'get',
        dataType: "json",
        url: "/custom_fields/change_position?from_position=" + from_position + "&to_position=" + to_position ,
        success: function(data) {
          window.location.reload();
        }
      });
  })
  $(".check_all").on("change",function (argument) {
    if ($(".check_all").prop("checked")) {
      $(".check").prop("checked",'true')
    }else{
      $(".check").prop("checked",false)
    };
  })
  $(".destroy_all").on("click",function (argument) {
    var ids = [];
    $(".check").each(function (argument) {
      if ($(this).prop("checked") == true) {
        ids.push($(this).val());
      }
    });
    if(ids.size == 0){
      alert('选项不能为空')
    }else{
      $.ajax({
        type: 'get',
        dataType: "json",
        url: "/custom_fields/destroy_all?ids=" + ids,
        success: function(data) {
          alert(data.success)
         window.location.reload();
        }
      });
    }
  })
</script>