
<nav class="breadcrumb"> <%= @issue.project.try(:parent).try(:language_name)%>
	<span class="c-gray en">&gt;</span>
	<%= @issue.project.try(:language_name) %>
	<span class="c-gray en">&gt;</span>
	<%= @issue.tracker.try(:name) %>
	<span class="c-gray en">&gt;</span>
	<%= '#' + @issue.id.to_s %>
	<%= render :partial => 'action_menu' %>
</nav>
<%= render :partial => 'show'%>
<%= render :partial => 'edit' %>
<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
