<!--请在下方写此页面业务相关的脚本-->
 
<nav class="breadcrumb"> <%= l(:piaoju_guanli)%>
</nav>

<div class="">
	<article class="cl pd-20">
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th><%= l(:piaoju_fenlei)%></th>
						<th><%= l(:version_status_open)%></th>
						<th><%= l(:default_issue_status_closed)%></th>
						<th><%= l(:label_total_time)%></th>
					</tr>
				</thead>
				<tbody>
			        <tr class="text-c"">
			          <td class="name">
			            <%= link_to "夹具申请书", jia_ju_piaos_path() %>
			          </td>
			          <td class="name">
			            <%= link_to JiaJuPiao.where(state:1).count, jia_ju_piaos_path(state:1) %>
			          </td>
			          <td class="name">
			            <%= link_to JiaJuPiao.where(state:2).count, jia_ju_piaos_path(state:2) %>
			          </td>
			          <td class="name">
			            <%= link_to JiaJuPiao.count, jia_ju_piaos_path() %>
			          </td>
			        </tr>
				</tbody>
			</table>
		</div>
	</article>
</div>