<!--请在下方写此页面业务相关的脚本-->
 
<nav class="breadcrumb"> <%= l(:moban_guanli)%>
</nav>

<div class="">
	<article class="cl pd-20">
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort">
				<thead>
					<tr class="text-c">
						<th><%= l(:moban_name)%></th>
						<th><%= l(:field_status)%></th>
					</tr>
				</thead>
				<tbody>
			        <tr class="text-c"">
			          <td class="name">
			            <%= link_to "夹具申请表", moban_new_jia_ju_piaos_path() %>
			          </td>
			          <td class="name">
			            <%=  %>
			          </td>
			          </td>
			        </tr>
				</tbody>
			</table>
		</div>
	</article>
</div>