<!--请在下方写此页面业务相关的脚本-->
 
	<nav class="breadcrumb"> <%= @project.parent.try(:name)%>
		<span class="c-gray en">&gt;</span>
		<%= @project.try(:name) %>
	</nav>
	 <% if User.current.allowed_to?(:view_issues, @project) %>
	<div class="">
		<article class="cl pd-20">
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th>数据跟踪</th>
							<th>打开</th>
							<th>已关闭</th>
							<th>合计</th>
						</tr>
					</thead>
					<tbody>
						<% @trackers.each do |tracker| %>
					        <tr class="text-c"">
					          <td class="name">
					            <%= link_to tracker.name, point_check_index_polls_path(:set_filter => 1, :tracker_id => tracker.id,:project_id => params[:project_id]) %>
					          </td>
					          <td>
					            <%= link_to @open_issues_by_tracker[tracker].to_i, point_check_index_polls_path(:set_filter => 1, :tracker_id => tracker.id,:project_id => params[:project_id]) %>
					          </td>
					          <td>
					            <%= link_to (@total_issues_by_tracker[tracker].to_i - @open_issues_by_tracker[tracker].to_i), point_check_index_polls_path(:set_filter => 1, :tracker_id => tracker.id, :status_id => 'c',:project_id => params[:project_id]) %>
					          </td>
					          <td>
					            <%= link_to @total_issues_by_tracker[tracker].to_i, point_check_index_polls_path(:set_filter => 1, :tracker_id => tracker.id, :status_id => '*',:project_id => params[:project_id]) %>
					          </td>
					        </tr>
					    <% end %>
					</tbody>
				</table>
			</div>
		</article>
	</div>
	<% end %>