<style type="text/css">
  .content_div{
    width: 80%;
    margin-left: 10%;
    margin-top: 0px;
    /*border-bottom: 1px solid;*/
  }
  .list_div{
    width: 100%;
    height: 100px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    /*background: url(/images/tubiao2.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-color: #f5fafe;
  }
  .content_div a{
    text-align: center;
    display: inline-block;
    width: 12%;
    height: 100%;
    margin-top: 3px;
  }
  .content_div p{
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  h2{
    background-color: #efefef;
  }
</style>
<div style="margin-top: 44px;width: 100%;">
  <div class="content_div">
    <h2>常用功能</h2>
    <%= link_to point_check_index_polls_path(project_id:params[:project_id]) do %>
       <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -8px -20px;
  width: 75px;
  height: 63px;">       
       </div>
       <p>票据管理</p>
     <% end %>
     <%= link_to polls_path(project_id:params[:project_id]) do %>
       <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -96px -14px;
  width: 75px;
  height: 75px;">       
       </div>
       <p>部门盘点</p>
     <% end %>
     <%= link_to polls_path(project_id:params[:project_id]) do %>
       <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -181px -8px;
  width: 75px;
  height: 75px;">       
       </div>
       <p>场所变动管理</p>
     <% end %>
     <%= link_to polls_path(project_id:params[:project_id]) do %>
       <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -274px -8px;
  width: 61px;
  height: 75px;">       
       </div>
       <p>资产废弃管理</p>
     <% end %>
     <%= link_to polls_path(project_id:params[:project_id]) do %>
       <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -362px -2px;
  width: 75px;
  height: 75px;">       
       </div>
       <p>点检项管理</p>
     <% end %>
     <%= link_to polls_path(project_id:params[:project_id]) do %>
       <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -476px -11px;
  width: 89px;
  height: 67px;">       
       </div>
       <p>点检设备管理</p>
     <% end %>
  </div>
  <div class="content_div">
    <h2>现场资产管理</h2>
      <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -12px -156px;
  width: 73px;
  height: 76px;">       
         </div>
         <p>现场固定资产</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -98px -156px;
  width: 71px;
  height: 75px;">       
         </div>
         <p>现场非固定资产</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -181px -8px;
  width: 75px;
  height: 75px;">       
         </div>
         <p>场所变动管理</p>
       <% end %>
  </div>
  <div class="content_div">
    <h2>在库资产管理</h2>
      <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat 0 -316px;
  width: 75px;
  height: 75px;">       
         </div>
         <p>在库固定资产</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -97px -316px;
  width: 75px;
  height: 75px;">       
         </div>
         <p>在库非固定资产</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -189px -304px;
  width: 61px;
  height: 75px;">       
         </div>
         <p>资产废弃管理</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -279px -317px;
  width: 75px;
  height: 73px;">       
         </div>
         <p>资产回收管理</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -363px -312px;
  width: 75px;
  height: 59px;">       
         </div>
         <p>治工具发放</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -465px -307px;
  width: 75px;
  height: 59px;">       
         </div>
         <p>非治工具发放</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -560px -307px;
  width: 75px;
  height: 59px;">       
         </div>
         <p>治工具申请</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -645px -307px;
  width: 75px;
  height: 59px;">       
         </div>
         <p>非治工具申请</p>
       <% end %>
  </div>
  <div class="content_div">
    <h2>点检管理</h2>
      <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -303px -158px;
  width: 67px;
  height: 75px;">       
         </div>
         <p>作业员点检</p>
       <% end %>
       <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -384px -158px;
  width: 86px;
  height: 70px;">       
         </div>
         <p>非作业员点检</p>
       <% end %>
  </div>
  <div class="content_div">
    <h2>盘点管理</h2>
      <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/tu_biao.png') no-repeat -96px -14px;
  width: 75px;
  height: 75px;">       
         </div>
         <p>部门盘点</p>
       <% end %>
  </div>
  <div class="content_div">
    <h2>维修管理</h2>
      <%= link_to polls_path(project_id:params[:project_id]) do %>
         <div class="list_div" style="background: url('/images/weixiu.png') no-repeat">       
         </div>
         <p>维修申请</p>
       <% end %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function (argument) {
    $("#main").css("margin-left","0px")
    $("#wrapper").css("background-image","none")
  })
</script>