
<head>
	<%= stylesheet_link_tag 'style_piao','style',:media => 'all' %>
	<%= javascript_heads_piao %>
</head>
<style type="text/css">
	html{overflow-y: unset;}
</style>
<body>
<nav class="breadcrumb"> <%= l(:piaoju_guanli)%>
	<span class="c-gray en">&gt;</span>
	夹具申请表
	<span class="c-gray en">&gt;</span>
	新建
	<%= link_to l(:button_back), jia_ju_piaos_path(),style:"float:right;"%>
</nav>

<div class="piao_style">
<label class="th_style1">夹具申请表</label>
<br><br>
<%= form_for @jia_ju_piao,url: jia_ju_piaos_path(), :html => {:multipart => true,:method => :post} do |f| %>
<table>			
	<tr>
		<td colspan="3">夹具番号</td>
		<td colspan="3"><%= f.text_field :fan_hao, class: "input_text_style1" %></td>
		<td class="td_style1">申请日</td>
		<td colspan="2"><%= f.date_field :sqr, class: "input_text_style1" %></td>
	</tr>
	<tr>
		<td colspan="3">夹具名称</td>
		<td colspan="3"><%= f.text_field :name, class: "input_text_style1" %></td>
		<td class="td_style1">申请部门</td>
		<td colspan="2"><%= f.text_field :sqbm, class: "input_text_style1" %></td>
	</tr>
	<tr>
		<td colspan="3">申请数量</td>
		<td colspan="3"><%= f.number_field :sqsl, class: "input_text_style1" %></td>
		<td class="td_style1">承认</td>
		<td class="td_style1">确认</td>
		<td class="td_style1">担当</td>
	</tr>
	<tr>
		<td colspan="3">夹具使用场所</td>
		<td colspan="3"><%= f.text_field :jjsycs, class: "input_text_style1" %></td>
		<td rowspan="2"><%= f.select :sqbm_cr, User.all.collect {|u| [(u.login.to_s + u.lastname.to_s),u.id] },{ include_blank: true },class:'list_cf input_text_style1',style:"font-size:10px;"%></td>
		<td rowspan="2"><%= f.select :sqbm_qr, User.all.collect {|u| [(u.login.to_s + u.lastname.to_s),u.id] },{ include_blank: true },class:'list_cf input_text_style1',style:"font-size:10px;"%></td>
		<td rowspan="2"><%= f.select :sqbm_dd, User.all.collect {|u| [(u.login.to_s + u.lastname.to_s),u.id] },{ include_blank: true },class:'list_cf input_text_style1',style:"font-size:10px;"%></td>
	</tr>
	<tr>
		<td colspan="3">关联标准书管理番号及整理番号</td>
		<td colspan="3"><%= f.text_field :shu_hao, class: "input_text_style1" %></td>
	</tr>
</table>
<br>
<table id="myTable">
	<tr>
		<td rowspan="10" class="td_style8">申请理由</td>
		<td rowspan="4">新设</td>
		<td colspan="6" class="td_style9"><label class="demo--label"><input class="demo--radio" type="radio" name="jia_ju_piao[xin_she]" value='1'>
        <span class="demo--checkbox demo--radioInput"></span>新增作业(请添附标准书)
    </label></td>
	</tr>
	<tr>
		<td colspan="6" class="td_style9"><label class="demo--label">
        <input class="demo--radio" type="radio" name="jia_ju_piao[xin_she]" value='2'>
        <span class="demo--checkbox demo--radioInput"></span>品质对应(请添附标准书或问题点表)
    </label></td>
	</tr>
	<tr>
		<td colspan="6" class="td_style9"><label class="demo--label"><input class="demo--radio" type="radio" name="jia_ju_piao[xin_she]" value='3' >
        <span class="demo--checkbox demo--radioInput"></span>作业改进(请提出分析报告及预测效果)</label></td>
	</tr>
	<tr>
		<td colspan="6" class="td_style9">
			<%= render :partial => 'attachments/form', :locals => {:container => @jia_ju_piao} %>
		</td>
	</tr>
	<tr>
		<td rowspan="6">追加</td>
	</tr>
	<tr>
		<td colspan="6" class="td_style9"><label class="demo--label"><input class="demo--radio" type="radio" name="xin_she" value='4'>
        <span class="demo--checkbox demo--radioInput"></span>产量增加(明确生产体制与治具的对应关系:)</label></td>
	</tr>
	<tr>
		<td>现体制</td>
		<td>新体制</td>
		<td>开始时间</td>
		<td>现有数量</td>
		<td>最大能力</td>
		<td>申请追加数量</td>
	</tr>
	<tr>
		<td><%= f.text_field :zhui_jia_xtz, class: "input_text_style1" %></td>
		<td><%= f.text_field :zhui_jia_xin_ti_zhi, class: "input_text_style1" %></td>
		<td><%= f.date_field :zhui_jia_kssj, class: "input_text_style1" %></td>
		<td><%= f.number_field :zhui_jia_xysl, class: "input_text_style1" %></td>
		<td><%= f.text_field :zhui_jia_zdnl, class: "input_text_style1" %></td>
		<td><%= f.text_field :zhui_jia_sqzjsl, class: "input_text_style1" %></td>
	</tr>
	<tr>
		<td colspan="6" class="td_style9"><label class="demo--label"><input class="demo--radio" type="radio" name="xin_she" value='5'>
        <span class="demo--checkbox demo--radioInput"></span>其他:</label><%= f.text_field :zhui_jia_qt, class: "td_style38" %></td>
	</tr>
	<tr>
		<td colspan="6" class="td_style9">注:数量超过1小时需提出计算公式,最大能力以<%= f.number_field :zui_num, class: "td_style39",min:0 %>台/8H计算</td>
	</tr>
	<tr>
		<td colspan="8" class="td_style3">说明或计算式(夹具数量超过1件时,由申请部门记入):
			<%= f.text_area :sm_jss, class: "textarea_style2" %>
		</td>
	</tr>
	<tr>
		<td colspan="6"></td>
		<td>希望纳期</td>
		<td><%= f.date_field :xi_wang_na_qi, class: "input_text_style1" %></td>
	</tr>
	<tr>
		<td colspan="8" class="td_style3">上司意见(申请部门):<%= f.text_area :shang_si_yi_jian, class: "textarea_style2" %></textarea>
		</td>
	</tr>
</table>
<br>
<table>
	<tr>
		<td colspan="20">以下由夹具管理部门填写</td>
	</tr>
	<tr>
		<td colspan="2" class="td_style6">配步先</td>
		<td class="td_style4">部</td>
		<td class="td_style4" rowspan="6"></td>
		<td colspan="2" class="td_style6">管理部门:</td>
		<td colspan="4"><%= f.text_field :guan_li_bu_men, class: "input_text_style1" %></td>
		<td class="td_style4" rowspan="6"></td>
		<td colspan="9" class="td_style9"><label class="demo--label">
        <input class="radio_style" type="radio" name="jia_ju_piao[ny_zhui_jia]" value='1'>
        <span class="radio_styleInput"></span>按申请内容追加
    </label></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.text_field :pei_bu_xian_1, class: "input_text_style1" %></td>
		<td class="td_style4"><%= f.number_field :bu_1, class: "input_text_style1" ,min:0%></td>
		<td colspan="2">受理日期:</td>
		<td colspan="4"><%= f.date_field :shou_li_ri_qi, class: "input_text_style1" %></td>
		<td colspan="9" class="td_style9"><label class="demo--label">
        <input class="radio_style" type="radio" name="jia_ju_piao[ny_zhui_jia]" value="2">
        <span class="radio_styleInput"></span>不按申请内容追加
    </label></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.text_field :pei_bu_xian_2, class: "input_text_style1"%></td>
		<td class="td_style4"><%= f.number_field :bu_2, class: "input_text_style1",min:0 %></td>
		<td colspan="2">发行No:</td>
		<td colspan="4"><%= f.text_field :fa_xing_hao, class: "input_text_style1" %></td>
		<td colspan="9" class="td_style9">不按申请内容追加时、理由记入</td>
	</tr>
	<tr>
		<td colspan="2"><%= f.text_field :pei_bu_xian_3, class: "input_text_style1"%></td>
		<td class="td_style4"><%= f.number_field :bu_3, class: "input_text_style1",min:0 %></td>
		<td colspan="2" class="td_style6">承认</td>
		<td colspan="2" class="td_style6">确认</td>
		<td colspan="2" class="td_style6">担当</td>
		<td colspan="9" rowspan="3" class="td_style44"><%= f.text_area :bn_reason %></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.text_field :pei_bu_xian_4, class: "input_text_style1"%></td>
		<td class="td_style4"><%= f.number_field :bu_4, class: "input_text_style1",min:0 %></td>
		<td colspan="2" rowspan="2" class="td_style43"><%= f.select :gl_cr, User.all.collect {|u| [(u.login.to_s + u.lastname.to_s),u.id] },{ include_blank: true },class:'list_cf input_text_style1',style:'font-size:10px;'%></td>
		<td colspan="2" rowspan="2" class="td_style43"><%= f.select :gl_qr, User.all.collect {|u| [(u.login.to_s + u.lastname.to_s),u.id] },{ include_blank: true },class:'list_cf input_text_style1',style:'font-size:10px;'%></td>
		<td colspan="2" rowspan="2" class="td_style43"><%= f.select :gl_dd, User.all.collect {|u| [(u.login.to_s + u.lastname.to_s),u.id] },{ include_blank: true },class:'list_cf input_text_style1',style:'font-size:10px;'%></td>
	</tr>
	<tr>
		<td colspan="2"><%= f.text_field :pei_bu_xian_5, class: "input_text_style1"%></td>
		<td class="td_style4"><%= f.number_field :bu_5, class: "input_text_style1",min:0 %></td>
	</tr>
</table>
<br>
<input type="submit" name="" value="提交" class="btn_style" onclick="convert()">
<% end %>
</div>
</body>